@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* GENERAL */
.container {
  max-width: 84.375rem;
  margin: 0 auto;
}

body {
  background-color: #0f0f0f;
  font-family: "Barlow Condensed", serif;
  font-weight: 400;
}

img {
  width: 100%;
}

/* HEADER */
header {
  background-color: black;
  color: white;
  padding: 0.9375rem 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 4px 16px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 -5px 10px rgba(255, 255, 255, 0.3);
  position: sticky;
  top: 0;
  z-index: 10;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu-left {
  display: flex;
  align-items: center;
  gap: 3.75rem;
}

.img-container {
  width: 9.375rem;
  cursor: pointer;
}

.header-links {
  display: flex;
  list-style: none;
  gap: 1.25rem;
}

.header-links a {
  text-decoration: none;
  color: white;
  font-size: 1.125rem;
}

.header-links a:hover {
  color: #a01907;
  transition: 0.3s;
}

.header-menu-right {
  display: flex;
  gap: 1.25rem;
}

.search-bar {
  height: 1.875rem;
  border-radius: 0.625rem;
  transition: 0.3s;
}

.btn-search {
  width: 1.875rem;
  height: 1.8125rem;
  border: none;
  background: transparent;
  color: white;
  font-size: 1.25rem;
  cursor: pointer;
}

.header-menu-right ul {
  display: flex;
  align-items: center;
  text-decoration: none;
  list-style: none;
  gap: 0.9375rem;
}

.header-menu-right ul a {
  color: white;
}

.header-menu-right ul a:hover {
  color: #a01907;
}

/* MAIN */
main {
  padding: 1.875rem 0;
}

.movies,
.series {
  position: relative;
  margin: 0 1.25rem;
}

.movies h1,
.series h1 {
  color: #a01907;
  font-size: 1.5625rem;
}

/* Carousel */
.carousel {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  white-space: nowrap;
  padding: 3.125rem 3.75rem;
  width: 100%;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.flex-container {
  display: flex;
  gap: 2.5rem;
  color: white;
  list-style: none;
}

.scroll-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 24px;
  z-index: 11;
}

.scroll-btn:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

.left {
  left: 0;
}

.right {
  right: 0;
}

/* Card*/
.card {
  width: 20rem;
  height: 12.5rem;
  position: relative;
  border: 1px solid black;
  border-radius: 0.3125rem;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.card:hover {
  transform: scale(1.2);
  transition: 0.5s;
  z-index: 10;
  border-radius: 0.3125rem;
}

.card div:first-child {
  width: 100%;
}

.card img {
  display: block;
}

.hoverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  padding: 0.625rem;
  background-color: black;
  opacity: 0;
  cursor: pointer;
}

.hoverlay:hover {
  opacity: 0.9;
  transition: 0.5s;
  font-size: 0.9375rem;
}

.description {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 0.3125rem;
}

.language {
  display: flex;
  gap: 0.3125rem;
}

.img-flag {
  width: 1.25rem;
}

/* VOTE */
.vote-container {
  display: flex;
}

.stars-container {
  display: flex;
}

.vote-star {
  color: gold;
  margin-right: 4px;
}

.vote-star.empty {
  color: lightgray;
}
